In [9]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# Importation des données

Après lecture des informations sur les colonnes, on choisis des noms de colonnes pour les données

In [10]:
from pathlib import Path
data_path = Path(r"../data/welddb.data")
column_names = [
    'C', 'Si', 'Mn', 'S', 'P', 'Ni', 'Cr', 'Mo', 'V', 'Cu', 'Co', 'W', 
    'O', 'Ti', 'N', 'Al', 'B', 'Nb', 'Sn', 'As', 'Sb', 
    'Current', 'Voltage', 'AC_DC', 'Electrode_polarity', 'Heat_input', 'Interpass_temp',  
    'Weld_type', 'PWHT_temp', 'PWHT_time', 
    'Yield_strength', 'UTS', 'Elongation', 'Reduction_area',  
    'Charpy_temp', 'Charpy_impact', 'Hardness', 'FATT_50', 
    'Primary_ferrite', 'Ferrite_2nd_phase', 'Acicular_ferrite', 'Martensite', 'Ferrite_carbide', 
    'Weld_ID' 
]
df = pd.read_csv(data_path, sep='\s+', names=column_names)
df.head(5)

<>:13: SyntaxWarning: invalid escape sequence '\s'
<>:13: SyntaxWarning: invalid escape sequence '\s'
C:\Users\quent\AppData\Local\Temp\ipykernel_40364\14694824.py:13: SyntaxWarning: invalid escape sequence '\s'
  df = pd.read_csv(data_path, sep='\s+', names=column_names)

,C,Si,Mn,S,P,Ni,Cr,Mo,V,Cu,...,Charpy_temp,Charpy_impact,Hardness,FATT_50,Primary_ferrite,Ferrite_2nd_phase,Acicular_ferrite,Martensite,Ferrite_carbide,Weld_ID
0,0.037,0.30,0.65,0.008,0.012,0,N,N,N,N,...,N,N,N,N,N,N,N,N,N,Evans-Ni/CMn-1990/1991-0Aaw
1,0.037,0.30,0.65,0.008,0.012,0,N,N,N,N,...,-28,100,N,N,N,N,N,N,N,Evans-Ni/CMn-1990/1991-0Aawch
2,0.037,0.30,0.65,0.008,0.012,0,N,N,N,N,...,-38,100,N,N,N,N,N,N,N,Evans-Ni/CMn-1990/1991-0Aht
3,0.037,0.31,1.03,0.007,0.014,0,N,N,N,N,...,N,N,N,N,N,N,N,N,N,Evans-Ni/CMn-1990/1991-0Baw
4,0.037,0.31,1.03,0.007,0.014,0,N,N,N,N,...,-48,100,N,N,32,28,40,0,0,Evans-Ni/CMn-1990/1991-0Bawch

On remarque que toutes les valeurs vide sont notées "N" donc on les remplaces par NaN

In [11]:
df.replace('N', np.nan, inplace=True)
df.head(5)

,C,Si,Mn,S,P,Ni,Cr,Mo,V,Cu,...,Charpy_temp,Charpy_impact,Hardness,FATT_50,Primary_ferrite,Ferrite_2nd_phase,Acicular_ferrite,Martensite,Ferrite_carbide,Weld_ID
0,0.037,0.30,0.65,0.008,0.012,0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Evans-Ni/CMn-1990/1991-0Aaw
1,0.037,0.30,0.65,0.008,0.012,0,NaN,NaN,NaN,NaN,...,-28,100,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Evans-Ni/CMn-1990/1991-0Aawch
2,0.037,0.30,0.65,0.008,0.012,0,NaN,NaN,NaN,NaN,...,-38,100,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Evans-Ni/CMn-1990/1991-0Aht
3,0.037,0.31,1.03,0.007,0.014,0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Evans-Ni/CMn-1990/1991-0Baw
4,0.037,0.31,1.03,0.007,0.014,0,NaN,NaN,NaN,NaN,...,-48,100,NaN,NaN,32,28,40,0,0,Evans-Ni/CMn-1990/1991-0Bawch

# Data Cleaning

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1652 entries, 0 to 1651
Data columns (total 44 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   C                   1652 non-null   float64
 1   Si                  1652 non-null   float64
 2   Mn                  1652 non-null   float64
 3   S                   1648 non-null   object
 4   P                   1642 non-null   object
 5   Ni                  697 non-null    object
 6   Cr                  784 non-null    object
 7   Mo                  793 non-null    object
 8   V                   928 non-null    object
 9   Cu                  578 non-null    object
 10  Co                  129 non-null    object
 11  W                   75 non-null     object
 12  O                   1256 non-null   object
 13  Ti                  935 non-null    object
 14  N                   1242 non-null   object
 15  Al                  905 non-null    object
 16  B                   504 non-null    object
 17  Nb                  752 non-null    object
 18  Sn                  296 non-null    object
 19  As                  234 non-null    object
 20  Sb                  260 non-null    object
 21  Current             1404 non-null   object
 22  Voltage             1404 non-null   object
 23  AC_DC               1437 non-null   object
 24  Electrode_polarity  1496 non-null   object
 25  Heat_input          1652 non-null   float64
 26  Interpass_temp      1652 non-null   object
 27  Weld_type           1652 non-null   object
 28  PWHT_temp           1639 non-null   object
 29  PWHT_time           1639 non-null   object
 30  Yield_strength      780 non-null    object
 31  UTS                 738 non-null    object
 32  Elongation          700 non-null    object
 33  Reduction_area      705 non-null    object
 34  Charpy_temp         879 non-null    object
 35  Charpy_impact       879 non-null    object
 36  Hardness            138 non-null    object
 37  FATT_50             31 non-null     object
 38  Primary_ferrite     98 non-null     object
 39  Ferrite_2nd_phase   90 non-null     object
 40  Acicular_ferrite    90 non-null     object
 41  Martensite          89 non-null     object
 42  Ferrite_carbide     89 non-null     object
 43  Weld_ID             1652 non-null   object
dtypes: float64(4), object(40)
memory usage: 568.0+ KB

On remarque que beaucoup de colonnes ont une majorité de valeurs manquantes. Nous allons nous débarasser de ces valeurs car elles sont trop peu exploitables, sauf pour les données chimiques car on peut imaginer que si elles sont à NaN c'est qu'elles ne sont pas mesurées car normalement introuvable de plus on remarque que dans les données, il y a parfois des "< seuil" ou des "54totndres" on va donc remplacer ces valeurs par 0 aussi.

In [13]:
chemical_cols = ['C','Si','Mn','S','P','Ni','Cr','Mo','V','Cu','Co',
                 'W','O','Ti','N','Al','B','Nb','Sn','As','Sb']

df_reduced = df.copy()
# Si colonne pas dans chemical_cols et mean < 0.4 on supprime la colonne
for col in df_reduced.columns:
    if col not in chemical_cols and df_reduced[col].isna().mean() > 0.6:
        df_reduced.drop(columns=[col], inplace=True)

df_reduced.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1652 entries, 0 to 1651
Data columns (total 37 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   C                   1652 non-null   float64
 1   Si                  1652 non-null   float64
 2   Mn                  1652 non-null   float64
 3   S                   1648 non-null   object
 4   P                   1642 non-null   object
 5   Ni                  697 non-null    object
 6   Cr                  784 non-null    object
 7   Mo                  793 non-null    object
 8   V                   928 non-null    object
 9   Cu                  578 non-null    object
 10  Co                  129 non-null    object
 11  W                   75 non-null     object
 12  O                   1256 non-null   object
 13  Ti                  935 non-null    object
 14  N                   1242 non-null   object
 15  Al                  905 non-null    object
 16  B                   504 non-null    object
 17  Nb                  752 non-null    object
 18  Sn                  296 non-null    object
 19  As                  234 non-null    object
 20  Sb                  260 non-null    object
 21  Current             1404 non-null   object
 22  Voltage             1404 non-null   object
 23  AC_DC               1437 non-null   object
 24  Electrode_polarity  1496 non-null   object
 25  Heat_input          1652 non-null   float64
 26  Interpass_temp      1652 non-null   object
 27  Weld_type           1652 non-null   object
 28  PWHT_temp           1639 non-null   object
 29  PWHT_time           1639 non-null   object
 30  Yield_strength      780 non-null    object
 31  UTS                 738 non-null    object
 32  Elongation          700 non-null    object
 33  Reduction_area      705 non-null    object
 34  Charpy_temp         879 non-null    object
 35  Charpy_impact       879 non-null    object
 36  Weld_ID             1652 non-null   object
dtypes: float64(4), object(33)
memory usage: 477.7+ KB

On remarque que la plupart des valeurs sont de class "object" on va donc les modifier pour avoir les valeurs numériques en float afin de pouvoir faire nos calculs

In [14]:
def clean_chemical_value(val):
    if pd.isna(val): return 0.0
    val = str(val).strip()
    if val.startswith("<"):
        try: return float(val[1:]) / 2
        except: return 0.0
    if any(k in val.lower() for k in ["tot", "res", "trace", "none", "nd"]):
        return 0.0
    try: return float(val)
    except: return 0.0

In [15]:
chemical_cols = ['C', 'Si', 'Mn', 'S', 'P', 'Ni', 'Cr', 'Mo', 'V', 'Cu', 'Co', 'W', 'O',
       'Ti', 'N', 'Al', 'B', 'Nb', 'Sn', 'As', 'Sb',]

for col in df_reduced.columns:
    if col in chemical_cols:
        df_reduced[col] = df_reduced[col].apply(clean_chemical_value)
df_reduced.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1652 entries, 0 to 1651
Data columns (total 37 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   C                   1652 non-null   float64
 1   Si                  1652 non-null   float64
 2   Mn                  1652 non-null   float64
 3   S                   1652 non-null   float64
 4   P                   1652 non-null   float64
 5   Ni                  1652 non-null   float64
 6   Cr                  1652 non-null   float64
 7   Mo                  1652 non-null   float64
 8   V                   1652 non-null   float64
 9   Cu                  1652 non-null   float64
 10  Co                  1652 non-null   float64
 11  W                   1652 non-null   float64
 12  O                   1652 non-null   float64
 13  Ti                  1652 non-null   float64
 14  N                   1652 non-null   float64
 15  Al                  1652 non-null   float64
 16  B                   1652 non-null   float64
 17  Nb                  1652 non-null   float64
 18  Sn                  1652 non-null   float64
 19  As                  1652 non-null   float64
 20  Sb                  1652 non-null   float64
 21  Current             1404 non-null   object
 22  Voltage             1404 non-null   object
 23  AC_DC               1437 non-null   object
 24  Electrode_polarity  1496 non-null   object
 25  Heat_input          1652 non-null   float64
 26  Interpass_temp      1652 non-null   object
 27  Weld_type           1652 non-null   object
 28  PWHT_temp           1639 non-null   object
 29  PWHT_time           1639 non-null   object
 30  Yield_strength      780 non-null    object
 31  UTS                 738 non-null    object
 32  Elongation          700 non-null    object
 33  Reduction_area      705 non-null    object
 34  Charpy_temp         879 non-null    object
 35  Charpy_impact       879 non-null    object
 36  Weld_ID             1652 non-null   object
dtypes: float64(22), object(15)
memory usage: 477.7+ KB

On sauvegarde dans un csv

In [16]:
# on met df_reduced dans un csv
processed_data_path = "../data/weld_data_processed.csv"

df_reduced.to_csv(processed_data_path, index=False)

Pour les données catégoricielles on verra ensuite ce qu'on veut faire d'elles (supprimer, one-hot encoding ...)